/* page setup
--------------------------------
*/

:root {
    font-family: 'Lato', sans-serif;
    --blue: #0ea5e9;
    --yellow: #fde047;
    --gray: #e5e5e5;
    --gray-text: #64748b;
    --profile: 2rem;
    background-color: var(--gray);
}

.profile-normal {
    height: var(--profile);
    width: var(--profile);
}

.profile-bigger {
    height: 3rem;
    width: 3rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* collapsible-menu
--------------------------------
*/

.collapsible-menu {
    background-color: var(--blue);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    padding-top: 5px;
}

.collapsible-menu>label>span {
    vertical-align: bottom;
    font-size: 1.5rem;
    margin-right: 10px;
}

.collapsible-menu>input#dashboard-collapse {
    display: none;
}

.dashboard-content>ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dashboard-content>ul>li>a {
    text-decoration: none;
    color:white;
    font-size: 1.5rem;
}

.dashboard-content>ul>li>a>span {
    vertical-align: bottom;
    font-size: 1.5rem;
    margin-right: 10px;
}

.dashboard-content {
    max-height: 0;
    overflow: hidden;
    padding-top: 10px;
}

.collapsible-menu>input:checked ~ .dashboard-content {
    min-height: 50vh;
}

/* header
--------------------------------
*/

.header-small {
    display: none;
}

.header-big {
    background-color: white;
    width: 100%;
    box-shadow: 0px 1px 5px gray;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.first-line-header {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
}

.search, .notifications {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search>input {
    width: 24rem;
    background-color: var(--gray);
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
}

.search>input:focus {
    outline-color: var(--blue);
}

.second-line-header {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-profile {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-profile-text>small {
    font-size: 0.8rem;
}

.header-profile-text>div {
    font-size: 1.2rem;
    font-weight: bold;
}

.buttons {
    display: flex;
    gap: 20px;
}

.buttons>button {
    width: 7rem;
    padding: 0.4rem;
    border-radius: 16px;
    border: none;
    background-color: var(--blue);
    color: white;
}

.buttons>button:active {
    background-color: #09648C;
}

/* projects
--------------------------------
*/

.projects {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
    display: grid;
    gap: 30px;
    grid-template-areas: 
    "projects-title projects-title"
    "card-one card-two"
    "card-three card-four"
    "card-five card-six"
    "announcements-title trending-title"
    "announcements-card trending-card";
}

.card {
    background-color: white;
    width: 90%;
    height: 10rem;
    padding: 15px;
    border-radius: 8px;
    border-left: var(--yellow) solid 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    box-shadow: 0px 1px 2px gray;
}

.in-card-title {
    font-size: 1.1rem;
    font-weight: bold;
}

.in-card-text {
    color: var(--gray-text);
}

.card-icons {
    align-self: flex-end;
    display: flex;
    margin-top: auto;
    gap: 20px;
}

.card-title {
    font-weight: bolder;
    margin-left: 5px;
    font-size: 1.2rem;
    margin-bottom: -20px;
}

.tall-card {
    background-color: white;
    width: 90%;
    height: 18rem;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 1px 2px gray;
}

.tall-card>hr {
    width: 100%;
}

.announcements {
    border-left: #be123c solid 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.announcements-title {
    font-weight: bold;
}

.announcements-text {
    font-size: 0.9rem;
    color: var(--gray-text);
}

.trending {
    border-left: #16a34a solid 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.full-profile {
    display: flex;
    gap: 10px;
}

.at-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.profile-tag {
    color: var(--gray-text);
}

/* grid area selectors
--------------------------------
*/

.card-title-projetcs {
    grid-area: projects-title;
}

.card-one {
    grid-area: card-one;
}

.card-two {
    grid-area: card-two;
}

.card-three {
    grid-area: card-three;
}

.card-four {
    grid-area: card-four;
}

.card-five {
    grid-area: card-five;
}

.card-six {
    grid-area: card-six;
}

.card-title-announcements {
    grid-area: announcements-title;
}

.card-announcements {
    grid-area: announcements-card;
}

.card-title-trending {
    grid-area: trending-title;
}

.card-trending {
    grid-area: trending-card;
}