/* page setup
--------------------------------
*/

:root {
    font-family: 'Lato', sans-serif;
    --blue: #0ea5e9;
    --yellow: #fde047;
    --gray: #e5e5e5;
    --gray-text: #64748b;
    --profile: 2rem;
    background-color: var(--gray);
}

.profile-normal {
    height: var(--profile);
    width: var(--profile);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* collapsible-menu
--------------------------------
*/

.collapsible-menu {
    background-color: var(--blue);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    padding-top: 5px;
}

.collapsible-menu>label>span {
    vertical-align: bottom;
    font-size: 1.5rem;
    margin-right: 10px;
}

.collapsible-menu>input#dashboard-collapse {
    display: none;
}

.dashboard-content>ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dashboard-content>ul>li>a {
    text-decoration: none;
    color:white;
    font-size: 1.5rem;
}

.dashboard-content>ul>li>a>span {
    vertical-align: bottom;
    font-size: 1.5rem;
    margin-right: 10px;
}

.dashboard-content {
    max-height: 0;
    overflow: hidden;
    padding-top: 10px;
}

.collapsible-menu>input:checked ~ .dashboard-content {
    min-height: 50vh;
}

/* header
--------------------------------
*/

.header-big {
    display: none;
}

.header-small {
    background-color: white;
    width: 100%;
    box-shadow: 0px 1px 5px gray;
}

.search {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 15px;
    margin-top: 15px;
}

.search>input {
    width: 16rem;
    background-color: var(--gray);
    border: none;
    border-radius: 8px;
}

.search>input:focus {
    outline-color: var(--blue);
}

.notifications {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    gap: 1rem;
}

.buttons>button {
    width: 5rem;
    padding: 0.4rem;
    border-radius: 8px;
    border: none;
    background-color: var(--blue);
    color: white;
}

.buttons>button:active {
    background-color: #09648C;
}

/* projects
--------------------------------
*/

.projects {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card {
    background-color: white;
    width: 85%;
    height: 10rem;
    padding: 15px;
    border-radius: 8px;
    border-left: var(--yellow) solid 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.tall-card {
    background-color: white;
    width: 85%;
    height: 16rem;
    padding: 15px;
    border-radius: 8px;
}

.tall-card>hr {
    width: 100%;
}

.card-title {
    align-self: flex-start;
    margin-left: 15px;
    font-weight: bolder;
}

.announcements {
    border-left: #be123c solid 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.announcements-title {
    font-weight: bold;
}

.announcements-text {
    font-size: 0.9rem;
    color: var(--gray-text);
}

.trending {
    border-left: #16a34a solid 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.full-profile {
    display: flex;
    gap: 10px;
}

.at-name {
    font-weight: bold;
    margin-bottom: 2px;
}

.profile-tag {
    color: var(--gray-text);
}

.in-card-title {
    font-size: 1.1rem;
    font-weight: bold;
}

.in-card-text {
    color: var(--gray-text);
}

.card-icons {
    align-self: flex-end;
    display: flex;
    margin-top: auto;
    gap: 20px;
}