/* Page setup
--------------------------------
*/

:root {
    font-family: 'Lato', sans-serif;
    height: 100%;
    background-color: #e5e5e5;
    --blue: #0ea5e9;
    --yellow: #fde047;
    --gray: #e5e5e5;
    --icon-size: 24px;
    --profile-size: 48px;
    --title-size: 24px;
}

.material-symbols-outlined {
    font-size: var(--icon-size);
}

.profile-normal {
    height: var(--profile-size);
    width: var(--profile-size);
}

@media screen and (min-width: 750px) {
    .search>input {
        width: 500px;
    }
}

/* container
--------------------------------
*/

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

/* dashboard
--------------------------------
*/

.dashboard-background {
    background-color: var(--blue);
    min-height: 100vh;
}

.dashboard {
    color: white;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    gap: 15px;
}

#bigger-icon {
    font-size: var(--profile-size);
}

.dashboard-title {
    font-size: 28px;
}

.dashboard>p {
    font-size: var(--title-size);
}

.dashboard>span:not(#bigger-icon) {
    padding-left: 10px;
}

.first-space, .second-space {
    margin-bottom: 50px;
}
/* header
--------------------------------
*/

.header {
    background-color: white;
    padding-top: 20px;
    padding-right: 100px;
}

.first-line-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
}

.search {
    display: flex;
    gap: 20px;
}

.search>input {
    background-color: var(--gray);
    border: none;
    outline: none;
    border-radius: 16px;
    padding: 5px;
}

.notifications {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: 10px;
}

.name {
    font-size: var(--title-size);
}