/* page setup
--------------------------------
*/

:root {
    font-family: 'Lato', sans-serif;
    --blue: #0ea5e9;
    --yellow: #fde047;
    --gray: #e5e5e5;
    --profile: 2rem;
    background-color: var(--gray);
}

.profile-normal {
    height: var(--profile);
    width: var(--profile);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* collapsible-menu
--------------------------------
*/

.collapsible-menu {
    background-color: var(--blue);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-top: 5px;
    padding-bottom: 10px;
}

.collapsible-menu>input#dashboard-collapse {
    display: none;
}

.dashboard-content>ul>li {
    margin-bottom: 5px;
    margin-left: 15px;
}

.dashboard-content>ul>li>a {
    text-decoration: none;
    color:white
}

.dashboard-content {
    max-height: 0;
    overflow: hidden;
}

.collapsible-menu>input:checked ~ .dashboard-content {
    max-height: 100%;
}

/* header
--------------------------------
*/

.header {
    background-color: white;
    width: 100%;
}

.search {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 10px;
    margin-top: 10px;
}

.search>input {
    width: 16rem;
    background-color: var(--gray);
    border: none;
    border-radius: 8px;
}

.search>input:focus {
    outline-color: var(--blue);
}

.notifications {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    gap: 1rem;
}

.buttons>button {
    width: 5rem;
    padding: 0.4rem;
    border-radius: 8px;
    border: none;
    background-color: var(--blue);
    color: white;
}

.buttons>button:active {
    transform: translateY(2px);
}